.hamburger-icon {
    all: unset;
    background-color: var(--light);
    border-radius: 2rem;
    padding: 2rem;
}

.hamburger-icon:hover {
    cursor: pointer;
    outline: 2px solid var(--primary);
}

.hamburger-icon svg {
    width: 25px;
    min-width: 25px;
}

.dark-mode .hamburger-icon {
    background-color: var(--dark);
}