.team-member {
    display: flex;
    gap: 1rem;
}

@media (max-width: 44rem) {
    .team-member {
        flex-direction: column;
    }
}

.team-member > * {
    flex: 1;
}

@media (max-width: 44rem) {
    .team-member > * {
        flex: none;
    }
}

.team-member__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}