.redirect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}

.redirect h1 {
    text-align: center;
    color: var(--dark);
}

.dark-mode .redirect h1 {
    color: var(--light);
}

.redirect:hover h1 {
    color: var(--primary);
}

.arrow__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.arrow {
    max-width: 3rem;
    width: 100%;
}

.left {
    max-width: 2rem;
    transform: rotate(225deg);
}

.redirect:hover .arrow {
    animation: spin 0.8s ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.redirect:hover .left {
    animation: spin2 0.8s ease-in-out;
}

@keyframes spin2 {
    0% {
        transform: rotate(225deg);
    }
    100% {
        transform: rotate(585deg);
    }
}