.navigation {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

@media (max-width: 100rem) {
    .navigation {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }
}

.navigation__link {
    color: var(--dark);
}

.dark-mode .navigation__link {
    color: var(--light);
}

@media (max-width: 100rem) {
    .navigation__link {
        padding: 1.5rem;
        width: 100%;
    }
}

.navigation__link:hover,
.navigation__link.active {
    color: var(--primary);
}