/* --------------- MIDDLE SECTION --------------- */

.team-member {
    width: 60%;
}

@media (max-width: 72rem) {
    .team-member {
        width: 80%;
    }
}

@media (max-width: 60rem) {
    .team-member {
        width: 100%;
    }
}

.team-member__nav {
    flex: 1;
    flex-direction: column;
}

@media (max-width: 60rem) {
    .team-member__nav {
        display: none;
    }
}

.nav__container {
    display: flex;
    flex: 1;
}

.nav__container:hover {
    cursor: pointer;
    outline: 2px solid var(--primary);
    border-radius: 2rem;
}

.nav__container > * {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-nav {
    width: 100%;
    max-width: 12rem;
    min-width: 6rem;
    padding: 2rem;
}

.svg-nav--previous {
    transform: rotate(-135deg);
}

.svg-nav--next {
    transform: rotate(45deg);
}

/* --------------- TEAM ROW --------------- */

.team-row__member {
    flex: 1;
}

@media (max-width: 44rem) {
    .team-row__member {
        min-width: 10rem;
    }
}

.team-row__member:hover {
    cursor: pointer;
}

/* --------------- BOTTOM SECTION --------------- */

.team-bottom .vacatures {
    width: 65%;
}

@media (max-width: 56rem) {
    .team-bottom .vacatures {
        width: 100%;
    }
}

.team-bottom {
    flex: 1;
}