.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
}

@media (max-width: 72rem) {
    .footer {
        padding-bottom: 1rem;
    }
}

.link {
    color: var(--primary);
}