.impression {
    outline: 2px solid var(--primary);
    border-radius: 2rem;
    overflow: hidden;
    flex: 1;
}

.impression img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.dark-mode .impression {
    filter: brightness(0.9);
}