.header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 1rem;
}

.hamburger {
    display: none;
}

.animation__container {
    display: none;
}

.animation {
    display: none;
}

.operations {
    display: flex;
    flex: 1;
    gap: 1rem;
}

.actions {
    display: flex;
    gap: 1rem;
    flex: 1;
}

@media (max-width: 100rem) {
    .hamburger {
        display: flex;
        z-index: 2;
    }
    .animation__container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        border-radius: 2rem;
    }
    .animation {
        display: block;
        width: 100%;
        max-width: 100rem;
        height: 50px;
        background: url('../../../assets/images/rocket.svg') no-repeat center center;
        background-size: contain;
        position: absolute;
        animation: rocketMove 12s linear infinite;
        z-index: 1;
    }
    .operations {
        display: none;
        z-index: 1;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        padding: 2rem;
    }
    .operations::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: hsla(25, 100%, 4%, 0.7);
        backdrop-filter: blur(2px);
        z-index: -1;
    }
    .operations.open {
        display: flex;
    }
}

@media (max-width: 72rem) {
    .operations {
        padding: 1rem;
    }
}

@keyframes rocketMove {
    0% {
        transform: translateX(-100%) translateY(0) rotate(0deg);
    }
    12.5% {
        transform: translateX(-50%) translateY(-15px) rotate(45deg);
    }
    25% {
        transform: translateX(0) translateY(0) rotate(90deg);
    }
    37.5% {
        transform: translateX(50%) translateY(10px) rotate(135deg);
    }
    50% {
        transform: translateX(100%) translateY(0) rotate(180deg);
    }
    62.5% {
        transform: translateX(50%) translateY(20px) rotate(135deg);
    }
    75% {
        transform: translateX(0) translateY(0) rotate(90deg);
    }
    87.5% {
        transform: translateX(-50%) translateY(-5px) rotate(15deg);
    }
    100% {
        transform: translateX(-100%) translateY(0) rotate(0deg);
    }
}