.button {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: var(--primary);
    color: var(--light);
    border-radius: 2rem;
    padding: 2rem;
}

.button:hover {
    background-color: var(--light);
    color: var(--primary);
    outline: 2px solid var(--primary);
}

.dark-mode .button:hover {
    background-color: var(--dark);
    color: var(--primary);
}

.button--secondary {
    background-color: var(--secondary);
    color: var(--dark);
}

.dark-mode .button--secondary {
    background-color: var(--secondary-dark);
    color: var(--light);
}