.button {
    flex: 1;
    padding: 0;
}

.button a {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button.bubble:hover {
    cursor: pointer;
    outline: var(--primary) solid 2px;
    background-color: var(--light);
}

.dark-mode .button.bubble:hover {
    background-color: var(--dark);
}

.button.bubble:hover a {
    color: var(--primary);
}