.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.button.bubble:hover {
    cursor: pointer;
    outline: var(--primary) solid 2px;
    background-color: var(--light);
}

.dark-mode .button.bubble:hover {
    background-color: var(--dark);
}

.button.bubble:hover a {
    color: var(--primary);
}