/* --------------- MIDDLE SECTION --------------- */

@media (max-width: 80rem) {
    .study-middle {
        flex-direction: column;
    }
}

.study-middle__right {
    width: 45%;
}

@media (max-width: 80rem) {
    .study-middle__right {
        width: 100%;
    }
}

.study-highlights {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

@media (max-width: 32rem) {
    .study-highlights {
        flex-direction: column;
    }
}

.study-highlight {
    position: relative;
    background-color: var(--secondary);
    padding: 2rem;
    border-radius: 2rem;
    width: calc(50% - 0.5rem);
    display: flex;
    align-items: flex-end;
}

@media (max-width: 32rem) {
    .study-highlight {
        width: 100%;
    }
}

.dark-mode .study-highlight {
    background-color: var(--secondary-dark);
}

.study-highlight::before {
    content: '';
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--primary);
    border-radius: 50%;
}

.study-highlight h2 {
    padding: 0;
    padding-top: 6rem;
}

.study-highlight svg {
    position: absolute;
    top: 2rem;
    right: 2rem;
    max-height: 4rem;
    max-width: 4rem;
}

/* --------------- BOTTOM SECTION --------------- */

@media (max-width: 64rem) {
    .study-bottom {
        flex-direction: column;
    }
}

.study-bottom__left,
.study-bottom__right {
    flex: 1;
}

.study-bottom__left {
    flex-direction: column;
}

@media (max-width: 64rem) {
    .study-bottom__right > * {
        width: 100%;
    }
}