.bubble {
    background-color: var(--light);
    border-radius: 2rem;
    padding: 2rem;
}

.dark-mode .bubble {
    background-color: var(--dark);
}

.bubble--secondary {
    background-color: var(--secondary);
}

.dark-mode .bubble--secondary {
    background-color: var(--secondary-dark);
}