.bubble__container {
    width: 100%;
}

.bubble {
    background-color: var(--light);
    border-radius: 2rem;
    padding: 2rem;
}

.dark .bubble {
    background-color: var(--dark);
}

/* Bubble with the primary color */
.bubble--primary {
    background-color: var(--primary);
    color: var(--light);
}

/* If there is a link inside the bubble and the type is primary (like a button) */
.bubble--primary a {
    color: var(--light);
}

.dark .bubble--primary {
    background-color: var(--primary);
}

/* Bubble with the secondary color */
.bubble--secondary {
    background-color: var(--secondary);
}

/* If there is a link inside the bubble and the type is secondary (like a button) */
.bubble--secondary a {
    color: var(--dark);
}

.dark .bubble--secondary {
    background-color: var(--secondary-dark);
}

.dark .bubble--secondary a {
    color: var(--light);
}