/* --------------- TOP SECTION --------------- */

.results-top h1 {
    flex: 1;
}

@media (max-width: 56rem) {
    .results-top {
        flex-direction: column;
    }
}

/* --------------- MIDDLE SECTION --------------- */

.result-smiddle {
    flex-direction: column;
}